@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.banner-image{
    background-image: url(../img/banner-img.jpg);
    background-size: cover;
}

a img {
    width: 30px;
}